* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-section {
  width: 100%;
  background-image: linear-gradient(to top, #6040b1 0%, #c2b7bf 100%);
  padding: 10px;
  text-align: center;
}
.logo-footer {
  margin-top: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 20px;
}
.copyright {
  color: lightcoral;
}
